/*RESET*/

html, head, body, figure, ul, div, li, h1, h2, p {
  border: 0;
  margin: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

ul {
  list-style: none;
}

body {
  font: sans-serif;
  font-size: 16px;
  text-align: center;
  background: black;
  color: white;
  font-family: sans-serif;
}

body div.game-container {
  width: 800px;
}

div.game-container div.game-viewer {
  position: relative;
  float: left;
  margin: auto;
}

div.game-container div.game-viewer h1 {
  font-size: 24px;
  display: block;
  text-align: center;
}

figure.snake-game {
  position: relative;
  border: 5px solid white;
  width: 500px;
  height: 500px;
}

.snake-game div {
  width: 10px;
  height: 10px;
  float: left;
  background: black;
}

.snake-game div.snake {      /*is a snake*/
  background: green;
}

.snake-game div.apple {
  background: lightblue;
}

.snake-game div.friend, div.foe {
  height: 8px;
  width: 8px;
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.snake-game div.foe {
  height: 8px;
  width: 8px;
  border: 1px solid rgb(127, 0, 0);    /* if no border transparency support */
  border: 1px solid rgba(255, 0, 0, .75);
}

.snake-game div.friend {
  height: 8px;
  width: 8px;
  border: 1px solid lightblue;
  border: 1px solid rgba(173, 216, 230, .75);
}

.snake-game .score {
  position: absolute;
  margin: auto;
  font-size: 25px;
  color: blue;
}

figure.snake-game:focus {
  outline: none;
}
